
 
 
 <section class='container' *ngIf='siteSetting'>
        <h1>{{siteSetting.h1}}</h1>
        <section class="row bg-success padding-medium">
            <section class="col-md-12 ">
                
                <section class="col-md-6 form-group">
                    <label> Free text
                        <input [(ngModel)]="freeText" class="form form-control"/>
                    </label>
                 </section>


                 <section class="col-md-6 form-group">
                    <label>
                        No. of songs
                        <input [(ngModel)]="noofitems" type="number" class="form form-control"/>
                    </label>
                  </section>  
               
            </section>
            <section class="col-md-12 text-right">
                    <button (click)='getResult(freeText)' class="btn btn-info"> generate list</button>
                    <button (click)='shuffle()' class="btn btn-info"> shuffle list</button>
            </section>
        </section>
        
<section>

</section>



        <section>            
              <section class='table-responsive'>
                <table class='table' *ngIf='displayedList && displayedList.length '>
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                Name
                            </th>
                            <th>Id</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- kan använda en cust pipe här  | itemSort -->
                        <tr *ngFor='let item of displayedList '>
                            <td>                                
                                <img [src]='item.imgUri' class="imgthumb" />
                            </td>

                            <td>
                                {{item.title}}
                            </td>
                            <td>
                                 {{item.Id}}
                            </td>
                            <td>
                              <a [href] = 'item.link' class="btn btn-default" target="_blank" > Play </a>

                            </td>
                          
                        </tr>
                    </tbody>
                </table>
            </section>


        </section>
     
        

 </section>

